{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container align-centre">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Blog</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  {% for post in posts %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.intro }}</p>
            <p class="card-text"><small class="text-muted">Posted at {{ post.date_added }}</small></p>
            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor%}
</div>
{% endblock %}
