{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Blog</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  {% for post in posts %}
  <div class="row">
    <div class="post block">
      <h2 class="subtitle">
        {{ post.title }}
      </h2>
      <small>Posted at {{ post.date_added }}</small>
      <p>{{ post.intro }}</p>
      <a href="{% url 'post_detail' post.slug %}">Readmore</a>
    </div>
  </div>
  {% endfor%}
</div>
{% endblock %}