{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="row ">
      <div class="col-md-6">
          <div class="container">
              <h2 class="blog-post-title">{{ post.title }}</h2>
              <p class="blog-post-meta">{{ post.date_added }}</p>
              <p><strong>{{ post.intro }}</strong></p>
              <p>{{ post.body }}</p>
          </div>
      </div>
  </div>
 
{% endblock %}