{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container ">
      <div class="row justify-content-md-center ">
          <div class="col-md-6">
              <h1 class="blog-post-title display-4">{{ post.title }}</h1>
              <h5>{{ post.intro }}</h5>
              <p class="blog-post-meta"><small>{{ post.date_added }}</small></p>
              <hr class="w-50 mb-1">
              <img class="img-top align-centre" style="height:auto;width:100%;" src="{{ post.image.url }}"
                  alt="{{ post.title }}">
              <hr class="w-50 mb-1">
              <p>{{ post.body|safe }}</p>
              <hr class="w-50 mb-1">

              <h2 class="subtitle">Comments</h2>

              {% for comment in post.comments.all %}
              <article class="media">
                  <div class="media-content">
                      <div class="content">
                          <p>
                              <strong>{{ comment.name }}</strong> - <small>{{ comment.date_added }}</small>
                              <br>
                              {{ comment.body }}
                          </p>
                      </div>
                      {% if request.user.is_superuser %}
                      <small class="ml-3">
                          <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                      </small>
                      {% endif %}
                  </div>
              </article>
              {% empty %}
              <div class="notification">
                  <p>No comments yet!</p>
              </div>
              {% endfor %}
              <hr class="w-50 mb-1">

              <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                  Add Comment
              </button>
              <div class="collapse" id="collapseWidthExample">
                  <div class="form-floating">
                      <form method="POST" action=".">
                          {% csrf_token %}
                          {% for field in form %}

                          {{ field | as_crispy_field }}

                          {% endfor %}
                          <div class="field">
                              <div class="control">
                                  <button class="button bt btn-dark">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
       </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

{% endblock %}
